@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,400,500,900');
:root {
    font-family: 'Roboto', serif;
    --title-text-color: rgb(65, 65, 65);
    --head-text: rgba(7, 6, 6, 0.781);
    --article-text: rgb(20, 20, 20);
    --lighter-text: rgb(183, 183, 183);
    --button-color: rgb(255, 189, 114);
    --watermark-color: #E4E4E4;
}

/* BLOCKS */

section {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.vertical-block {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: center;
}

.horizontal-block {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.spaces * {
    margin: 5% 3%;
}

.no-spaces {
    margin: 0;
}

.no-spaces * {
    margin: 5% 0;
}

/* TEXT */

.uppercase-text{
    text-transform: uppercase;
}

.bold-text {
    font-weight: 900;
}

.medium-text {
    font-weight: 300;
}

.thin-text {
    font-weight: 100;
    color: var(--article-text);
}

.title-text {
    letter-spacing: 1.5rem;
    margin: 0 -1.5rem 0 0;
    color: var(--title-text-color);
}

.subtitle-text{
    font-weight: 200;
    letter-spacing: 0.55rem;
    margin: 0 -.55rem 0 0;
    color: var(--title-text-color);
}

.article-text {
    width: 300px;
    color: var(--article-text);
    line-height: 1.5;
    text-align: justify;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 1.85rem;
}

h3 {
    font-size: 1.5rem;
    color: var(--head-text);
}

h4 {
    font-size: 1rem;
    color: var(--lighter-text);
}

/* IMAGES */

.cover {
    width: 220px;
    height: auto;
    justify-self: flex-start;
    align-self: flex-start;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.2);
}

.avatar {
    object-fit: cover;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 4px solid var(--watermark-color);
}

.contact-logo {
    width: 20px;
    height: 20px;
}

/* INPUT */
.input-text{
    padding: 5px;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 2px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* BUTTONS*/

.btn-hero {
    width: 150px;
    height: 35px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
    border: none;
    border-radius: 1px;
    background-color: white;
    color: var(--button-color);
}

.btn-read {
    width: 150px;
    height: 35px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
    border: none;
    border-radius: 1px;
    background-color: var(--button-color);
    color: white;
}

.btn-hero:hover,
.btn-read:hover,
.btn-submit:hover {
    background: var(--button-color);
    color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.1);
}

.btn-submit{
    background-color: var(--button-color);
    width: auto;
    border: none;
    padding: 5px 10px;
    color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

/* SPECIAL STYLES */

#biography {
    width: 600px;
}

#names {
    width: 40%;
}

#btn-block {
    display: flex;
    justify-content: space-evenly;
    width: 320px;
}

#covers{
    /* align-items: center !important; */
}

/* Comment lines 202-217 and uncomment this to see the hiding effect */

.book2, .book1, .book3 {
	position: relative;
    border-radius: 0.125rem;
    /* align-self: center; */
}

.book2 { left  : calc(100vw / 1.2 - 220px - 5vw); }
.book3 { right : calc(100vw / 1.2 - 220px - 5vw); }

.book1 {
	z-index: 2;
}

.book2,
.book3 { 
    width: 100%;
height: auto;
    
    width: 220px; 
    
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.25); }
.book1 { width: 240px; box-shadow: 0rem 1.0rem 2rem rgba(0, 0, 0, 0.25); }


@media (max-width: 720px) {
    h2 {
        text-align: center;
    }
    section {
        height: 100%;
        margin-bottom: 10%;
    }
    .vertical-block {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .horizontal-block {
        margin: 3%;
        width: 100%;
    }
    .cover {
        width: 200px;
        justify-self: center;
        align-self: center;
    }
    #names {
        width: 50%;
        text-align: center;
    }
    #biography {
        width: 90%;
    }
    #btn-block {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 375px) {
    #names {
        width: 90%;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}