@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,400,500,900|Basic');
:root {
/* TEXT    */
    font-family: 'Roboto', serif;
    --title-text-color: rgb(65, 65, 65);
    --head-text: rgba(7, 6, 6, 0.781);
    --article-text: rgb(20, 20, 20);
    --lighter-text: rgb(183, 183, 183);
/* BUTTONS */
    --button-color-main:  rgb(86, 169, 188);
    --button-color-book1: rgb(255, 158, 165);
    --button-color-book2: rgb(255, 189, 114);
    --button-color-book3: rgb(92, 130, 140);
/* IMAGES  */
    --book-size-sm: 28.5vh;
    --book-size-lg: 32.5vh;
    --logos-number: 4;
/* OTHER   */
    --watermark-color: #E4E4E4;
}

/* BLOCKS */

section {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.vertical-block {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: center;
}

.horizontal-block {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.horizontal-grid{
    display: grid;
    grid-template-columns: 1fr repeat( var(--logos-number), calc(250px / var(--logos-number)))  1fr;
    justify-content: center;
    justify-items: center;
}

.overlapping-block {
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

}

.behind-block{
    position: relative;
    z-index: -1;
    top: 140px;
    display: inline-block;
}
.front-block{
    display: inline-block;
    align-content: center;
    position: relative;
    z-index: 5;
}

.hero-covers {
    height: 350px;
    align-items: center;  
}  

.spaces * {
    margin: 5% 3%;
}

.no-spaces {
    margin: 0;
}

.no-spaces * {
    margin: 5% 0;
}

/* TEXT */

.uppercase-text{
    text-transform: uppercase;
}

.bold-text {
    font-weight: 900;
}

.medium-text {
    font-weight: 400;
}

.thin-text {
    font-weight: 100;
    color: var(--article-text);
}

.title-text {
    letter-spacing: 1.5rem;
    margin: 0 -1.5rem 0 0;
    color: var(--title-text-color);
}

.subtitle-text{
    font-weight: 200;
    letter-spacing: 0.55rem;
    margin: 0 -.55rem 0 0;
    color: var(--title-text-color);
}

.article-text {
    width: 300px;
    color: var(--article-text);
    line-height: 1.5;
    text-align: justify;
}

.watermark-text {
    font-family: 'Basic', sans-serif;
    font-size: 10rem;
    text-align: left;
    color: var(--watermark-color);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 1.85rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--head-text);
}

h4{
    font-size: 1.3rem;
    color: var(--head-text);
    letter-spacing: 0.05rem;
}

h5 {
    font-size: 1rem;
    color: var(--lighter-text);
    letter-spacing: 0.14rem;
}

/* IMAGES */

.cover {
    width: 220px;
    height: auto;
    justify-self: flex-start;
    align-self: flex-start;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.2);
}

.hero-book2,
.hero-book3 { 
    width: var(--book-size-sm); 
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.25); }
.hero-book1 { 
    width: var(--book-size-lg); 
    box-shadow: 0rem 1.0rem 2rem rgba(0, 0, 0, 0.25); }

.hero-book1,
.hero-book2,
.hero-book3 { 
    position: absolute; 
    -radius: 0.1rem; }

.hero-book1 { 
    z-index: 2; 
}

.hero-book2 { 
    left  : calc(100vw / 2 - var(--book-size-sm) - 6.25vw); 
}
.hero-book3 { 
    right : calc(100vw / 2 - var(--book-size-sm) - 6.25vw); 
}

.avatar {
    object-fit: cover;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 4px solid var(--watermark-color);
}

.contact-logo {
    width: 20px;
    height: 20px;
}

/* INPUT */
form{
    text-align: center;
}

.input-text{
    padding: 5px;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 2px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* BUTTONS*/

.btn-hero {
    width: 150px;
    height: 35px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
    border: none;
    border-radius: 1px;
    background-color: white;
    color: var(--button-color-main);
}

.btn-read {
    width: 150px;
    height: 35px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
    border: none;
    border-radius: 1px;
    color: white;
}


.color-book1 {
    background-color: var(--button-color-book1);
}

.color-book2 {
    background-color: var(--button-color-book2);
}

.color-book3 {
    background-color: var(--button-color-book3);
}

.btn-hero:hover{
    background: var(--button-color-main);
    color: white;
}

.btn-hero:hover,
.btn-read:hover,
.btn-submit:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0 7px 10px rgba(0, 0, 0, 0.1);
}

.btn-submit{
    background-color: var(--button-color-main);
    width: auto;
    border: none;
    padding: 5px 10px;
    color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

/* SPECIAL STYLES */

#biography {
    width: 600px;
}

#names {
    width: 40%;
    align-self: center;
}

#btn-block {
    display: flex;
    justify-content: space-evenly;
    width: 320px;
}

#facebook{
    grid-column: 2;
}
#twitter {
    grid-column: 3;
}
#instagram{
    grid-column: 4;
}
#goodreads{
    grid-column: 5;
}


@media (max-width: 720px) {
    h3 {
        text-align: center;
    }
    section {
        height: 100%;
        margin-bottom: 10%;
    }
    .vertical-block {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .horizontal-block {
        margin: 3%;
        width: 100%;
    }
    .cover {
        width: 200px;
        justify-self: center;
        align-self: center;
    }
    #names {
        width: 50%;
        text-align: center;
    }
    #biography {
        width: 90%;
    }
    #btn-block {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 375px) {
    #names {
        width: 90%;
    }
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}